.bu{
    padding-top: 100px;
}

body{
    background-color: hsl(216, 81%, 31%);
}

#ab{
    text-decoration: none;
    color:black;
}

 #enlace{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 18px;


}

i{
    padding-left: 2px;
    padding-right: 5px;
}

.letras{
    width: 30%;
    font-size: .8em;
    font-weight: bold; 
   
    text-transform: uppercase; 
    color: #575757;
}

.infor{
    background-color: #fce57f;
    border: 1px solid #a88618;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #222;
    display: block;
    margin: 2% 0;
    padding: 10px;
    text-align: center;
    font-size: 100%;
    font: inherit;
    outline: none;
    
}

.rojo{
    font-weight: bold;
    color: red;
}



.inpu{
   outline: none;
   width: 40px;
   text-align: center;
   border: none;
   font-size: 1.1em;
}



.boton{
    border: solid 2px #0b5ba1;
    color: #0b5ba1;
    font-size: 1.4em;
    background: none;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    position: relative;
    width: 45px;
    height: 45px;
    
}
.boton:hover{
    background: #0b5ba1;
    color: #fff;
}
.pb{

    font-size: 100%;
    color: #969ea9;
    text-align: center;
}

.subtotal{
  outline: none;
  text-align: center;
  border: none;
  color: #0b5ba1;
  font-weight: bold;
  
}

.titulo-cartelera{
    color: #222;
    
}

.hora{
    text-decoration: none;
    color:white;
}
.hora :hover{
    color:#fff;

}

.sinopsis{
    color: #282828;
    font-size: 1.2em;
    margin: 0 0 10px;
    font-size: 1em;
    
    
}

.titulo-pe{
    color: #0ba10b;
    line-height: 130%;
    font-weight: 400;
    font-size: 1.5em;
    margin: .83em 0;
    text-transform: uppercase;
    
}


.conte-sinopsis{
    color: #6d6d6d;
    padding-bottom: 4%;
    
    font-size: 100%;
    font: inherit;
}

.opciones{
    font-weight: bold;
    color: #575757;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}
.carte_dias {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    display: inline-block;
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul, li {
    list-style-type: none;
}
ul.carte_dias button {
    background: transparent;
    border: none;
    width: 100%;
    border-bottom: 2px #a6a6a6 solid;
    min-height: 70px;
    border-bottom: 6px transparent solid;
    border-radius: 0;
}
ul.carte_dias li {
    float: none;
    display: inline-block;
    padding: 0;
    min-width: 14%;
}
ul.carte_dias  button {
    border-bottom: 4px #c0c0c0 solid;
    transition: 0.3s;
}

 h3,  p, ul, li, a {
    font-family: 'Roboto Condensed', sans-serif;
    color: #505050;
}
li {
    line-height: 20px;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
 button {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

ul {
    padding: 0;
    margin: 0 0 10px 25px;
}

.pills-peach-gradient .nav-item .nav-link.active {
    background: linear-gradient(40deg, #FFD86F, #FC6262);
    }
    .pills-blue-gradient .nav-item .nav-link.active {
    background: linear-gradient(40deg, #45cafc, #303f9f);
    }
    .pills-purple-gradient .nav-item .nav-link.active {
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
    }
    .pills-aqua-gradient .nav-item .nav-link.active {
    background: linear-gradient(40deg, #2096ff, #05ffa3);
    }